.button{
  margin: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #8354fd;
  color: #FFF;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img{
    margin-right: 8px;
  }

  &:hover{
    filter: brightness(0.9);
  }

  &:not(:disabled):hover{
    filter: brightness(0.9);
  }

  &:disabled{ // quando o botão estiver desabilitado ele vai perder o brilho e vai aparecer a plaquinha de não permitido
    opacity: 0.6;
    cursor: not-allowed;
  }

}